files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEHTCCAwWgAwIBAgIUS5feKcIqsoiKBqs26kRUnG7zbGgwDQYJKoZIhvcNAQEL
      BQAwgZ0xCzAJBgNVBAYTAlBMMRAwDgYDVQQIDAdTbGFza2llMRAwDgYDVQQHDAdX
      cm9jbGF3MRswGQYDVQQKDBJTaGFyZWRTaG9wcGluZ0xpc3QxDTALBgNVBAsMBHRl
      c3QxHTAbBgNVBAMMFFNoYXJlZCBTaG9wcGluZyBMaXN0MR8wHQYJKoZIhvcNAQkB
      FhByeWR6d3JAZ21haWwuY29tMB4XDTIyMDYwOTE0NDA1MFoXDTIzMDYwOTE0NDA1
      MFowgZ0xCzAJBgNVBAYTAlBMMRAwDgYDVQQIDAdTbGFza2llMRAwDgYDVQQHDAdX
      cm9jbGF3MRswGQYDVQQKDBJTaGFyZWRTaG9wcGluZ0xpc3QxDTALBgNVBAsMBHRl
      c3QxHTAbBgNVBAMMFFNoYXJlZCBTaG9wcGluZyBMaXN0MR8wHQYJKoZIhvcNAQkB
      FhByeWR6d3JAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
      AQEAn0Lw973uyTLd5wRedeQ+5VwKXGEUe0pi8aaSpDWWHjciTFXzov/uXoIgMqGH
      C48WY358ypCHX1EmyjVkneKkwTLeWwPRv67eqWdrDtMsdhEFi2t3+kfpUZfSSB9C
      oR3JkCaPAGORQZfTmvuCLSdGegjntjYFltsglABAzPcjNfiqKNsFbQCtp/H3CXOC
      5Di1EXM7YYVadu1i86Z0afuwDVddrnPtzM8XFS5GNuSyWc5vtkd8rWK9kRcZ6ZP3
      uucVsRysBP32sLPgDFiTqpUhcUYo7vO/BP3BJIz/EJHMc7H3X7X87qQGS+KlkJvs
      EpCcs2+Cmf+tB7xM0gui2yH1VwIDAQABo1MwUTAdBgNVHQ4EFgQUblhG0EtLOZ2T
      AV11fqo0oEfEGlgwHwYDVR0jBBgwFoAUblhG0EtLOZ2TAV11fqo0oEfEGlgwDwYD
      VR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAixmDnjd3zHjQjoHg4H6S
      J2jfHHamvIfkjxKm46qIBAMOTi2x9ugspPoO/Zoq35G1ON2DIRiGOq4Mx0tR8cO/
      6BdUtfL8286Rldd0pKuE3aSYfGWLgmmtwMgXC1pOOfTwqqYVFnzXkPueyV6R3BQs
      JbX4la9k/D/JD9sbk4lBeRf2zkkleT+5YWfxtpwDpg3k8Lp+xN8Znk4d8T8boQn+
      FLCAKAa5gutuSr0/9XpuBzbFWniYUkQCldrVqXE8uFIP+tbrDWiVjk5sd2OV/jag
      Ab/+XawHBV43/3rBwXGs6/VWephTi59j5nWsn0WHy33WXbeQDq2EEBX24Bk2V9uz
      6A==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCfQvD3ve7JMt3n
      BF515D7lXApcYRR7SmLxppKkNZYeNyJMVfOi/+5egiAyoYcLjxZjfnzKkIdfUSbK
      NWSd4qTBMt5bA9G/rt6pZ2sO0yx2EQWLa3f6R+lRl9JIH0KhHcmQJo8AY5FBl9Oa
      +4ItJ0Z6COe2NgWW2yCUAEDM9yM1+Koo2wVtAK2n8fcJc4LkOLURczthhVp27WLz
      pnRp+7ANV12uc+3MzxcVLkY25LJZzm+2R3ytYr2RFxnpk/e65xWxHKwE/faws+AM
      WJOqlSFxRiju878E/cEkjP8QkcxzsfdftfzupAZL4qWQm+wSkJyzb4KZ/60HvEzS
      C6LbIfVXAgMBAAECggEAAU/v5FqwSQAeS/UBQj9rNUCY5UH3hTyLrCoPM0MtxXn2
      0mIy67joIec4lLI4BqRbLt6v8ItYUjS8+RWPiq1/ZgghROa3J7ktJIAxpaGf0Ck7
      vnZYOru09HMnzGhViDZSntlyfDJV1BCIMdK4s96K+h5wqlOvoBqWHiISZp3ysFMk
      3/Gqm1dcKctM9zSZ3Z6TiY5JlupOjJde6RNX+26+DHbLHTq6LNE99dN6MyUVhRx2
      VhSZbQ8sszUUQvZZYumY8tif1fQOi2qPlNFJPVsMkecXak2nZO1YUsSAvqTbFaT+
      sO90ZotlC2QjJNcnkP5Kqwhiu48H5IXs1yrxHtMs4QKBgQDKBrEEQissDM9uhV01
      gOuTj+JA03FwlOfujSptzUASO4C/WM6biyU/tiIOS9YtaUq4NyPOXQafnwAZgQUR
      3qyX0IVawsl9VSUHJDwopKU6K3VNpVncYZqEgdxLmJejb4BPdx+ZmkAYLtbLiSd0
      b5amFHQfEtdpMR7WtMLZIpQjewKBgQDJz2sqaHq4DSq01sgL3HRnmz/X2fqRR4LY
      sUSII/l99XgA7l9w0Cl4/40ngTQhSpjWhzqroZ2nPv6Z/SC/VhK8PqkCSddRyQTk
      lEND2EoDRBR/mqKP37f6NjWsSbUS+MdN3haz7DDsyvH/fdT8TqiVSDNw1BHE/3jJ
      CIc6qT5Q1QKBgDa2qzhBB1otufvvqHe2C5byL89otF9OJKYpmyUToleNv+eSkJn1
      jEf99qkyhrXTv0W2wT7BWOrf7/H4TDwzt0CCW6th95m29olBmf1T4d+oJ2O49WZH
      FMbwOI5MrDy6FODwnSFHcjZacRe8dHAHTKB8B5rmymoVwIlbeS2/PKmDAoGBAL6l
      AnDqiFvMnHZ/nDWQSisB/3rTAiEyNAqu07XkfjGerYH7rg+tpjAXAmq6ZNu6U839
      q9Atefhfyzb/aGs4TbSlYRW3WgB57PRel3jFH44cR10QYNeXmX52rZeXfcZxXB5U
      WpAX5VQcmCYq4gSD7kAwF+BThoHacWlAdDdXYHYNAoGAYxJtyIyMhpSK7SrvI65M
      wt6cIDNuE3OpUl6rbfCaehRfSM/kspwdL5Cr1WO4JO/onzu5sF8Uq4fYxpktPNNv
      GN9Xzg73brKiPxip2hb6olmfan5n7ELFOdD7I6VBF5sR9JZXHWWukwd63VW9UBz0
      c85CP1Uszcd6vLGs1KmI5qU=
      -----END PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"